* {
    box-sizing: border-box;
  }
  
  
  
  #regForm {
    background-color: #ffffff;
    font-family: "Proxima Nova", sans-serif;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  h1 {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 23px;  
  }
  
 
  
 
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: "Proxima Nova", sans-serif;
    cursor: pointer;
    border-radius: 6px;
  }
  button:active {
    border: none;
    outline: none;
  }
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    
        background-color: #f7f7f7;
        color: black;
        border: 1px solid black;
        
      
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #007bff;
  }



*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    
    /** demo.scss */
    
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
    
    @font-face {
        font-weight: normal;
        font-style: normal;
        font-family: 'codropsicons';
        src:url('../fonts/codropsicons/codropsicons.eot');
        src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
            url('../fonts/codropsicons/codropsicons.woff') format('woff'),
            url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
            url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
    }
    
    *, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
    .clearfix:before, .clearfix:after { content: ''; display: table; }
    .clearfix:after { clear: both; }
    
    body {
        background: #e7ecea;
        color: #74777b;
        font-weight: 400;
        font-size: 1em;
        font-family: 'Raleway', Arial, sans-serif;
    }
    
    a {
        color: #007bff;
        text-decoration: none;
        outline: none;
    }
    
    a:hover, a:focus {
        color: #74777b;
    }
    
    .support {
        display: none;
        color: #ef5189;
        text-align: left;
        font-size: 1.5em;
        max-width: 1200px;
        margin: 1em auto 0;
        padding: 0;
    }
    
    .no-flexbox .support {
        display: block;
    }
    
    .hidden {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
    
    .container > section {
        padding: 5em 0;
        font-size: 1.25em;
        min-height: 100%;
    }
    
    p {
        text-align: center;
        padding: 1em;
    }

    /* Default tab style */
    
    @font-face {
        font-weight: normal;
        font-style: normal;
        font-family: 'stroke7pixeden';
        src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
        src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
            url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
            url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
            url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
    }
    
    .tabs {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
        font-weight: 300;
        font-size: 1.25em;
    }
    
    /* Nav */
    .tabs nav {
        text-align: center;
    }
    
    .tabs nav ul {
        position: relative;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        margin: 0 auto;
        padding: 0;
        max-width: 1200px;
        list-style: none;
        -ms-box-orient: horizontal;
        -ms-box-pack: center;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    
    .tabs nav ul li {
        position: relative;
        z-index: 1;
        display: block;
        margin: 0;
        text-align: center;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    
    .tabs nav a {
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 2.5;
    }
    
    .tabs nav a span {
        vertical-align: middle;
        font-size: 0.75em;
    }
    
    .tabs nav li.tab-current a {
        color: #74777b;
    }
    
    .tabs nav a:focus {
        outline: none;
    }
    .tabs-style-line nav ul {
        text-align: center;
        max-width: none;
        
    }
    
    .tabs-style-line nav a {
        padding: 0.7em 0.4em;
        box-shadow: inset 0 -2px #d1d3d2;
        color: #74777b;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 0.8em;
        line-height: 1;
        -webkit-transition: color 0.3s, box-shadow 0.3s;
        transition: color 0.3s, box-shadow 0.3s;
        text-align: center;
        text-decoration: none;
       margin-left: 10px;
       margin-right: 10px;
    }
    
    .tabs-style-line nav a:hover,
    .tabs-style-line nav a:focus {
        box-shadow: inset 0 -2px #74777b;
    }
    
    .tabs-style-line nav li.tab-current a {
        box-shadow: inset 0 -2px #007bff;
        color: #007bff;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 15px;
    }
    
    @media screen and (max-width: 58em) {
        .tabs-style-line nav ul {
            display: block;
            box-shadow: none;
        }
        .tabs-style-line nav ul li {
            display: block;
            -webkit-flex: none;
            flex: none;
        }
    }
   .pop{
       width: 350px;
       background-color: #ffffff;
       margin-top: 100px;
       margin-left: 300px;
       display: none;
    
   } 
.menu{
    display: flex;
    justify-content: space-around;
}
.j{
    display: flex;
}









    