@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 251, 251) !important;
}
.inner-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
.nav-container {
    padding: 10px 30px;
    min-height: 100vh;
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
ul.tab-nav {
    display: inline-block;
    width: 95%;
}
li {
    width: 100%;
    font-size: 18px;
    list-style: none;
    margin: 2px 10px;
    background-color: #ffffff;
    color: #000;
    padding: 7px 14px;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(70, 50, 50, 0.062) 1.95px 1.95px 2.6px;
    cursor: pointer;
    letter-spacing: 1px;
}
li:hover {
    background-color: #DC3545;
    color: #fff;
}
/* li:active {
    background-color: #DC3545;
    color: #fff;
} */

.Confirmation {
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.253);
    display: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    min-height: 100vh;
    height: 100%;
    letter-spacing: 1px;
}
.active {
    display: block;
}
.heading-div, .text-content {
    padding: 7px 14px;
}
.heading-div .heading1 {
    font-size: 26px;
    font-weight: 500;
    padding: 15px 0;
    width: 80%;
}
.form-control {
    margin: 10px 0;
    display: inline !important;
}
.heading1 {
    font-size: 26px;
    font-weight: 500;
    padding: 15px 0;
    width: 80%;
}
.inner-tags {
    border: 1px solid rgba(128, 128, 128, 0.253);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 7px 14px;
    background-color: #fff;
    min-height: 100vh;
    height: 100%;
}
.para {
    line-height: 30px;
    letter-spacing: .8px;
}
.heading5 {
    font-size: 18px;
    font-weight: 500;
}
.heading5 span {
    font-size: 16px;
    font-weight: 400;
}

/* on/off */
.toggle {
    position: relative;
  }

  .toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle .onoff {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
  }
  .onoff {
      position: absolute;
      top: 6%;
      right: -90%;
  }
  
  .slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #333;
    transition: 0.4s;
    width: 55px;
    height: 28px;
  }
  
  .slider:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: #fff;
    transition: 0.4s;
    top: 5px;
    left: 5px;
  }
  
  input:checked + .slider {
    background-color: #007bff;
    box-shadow: 0 0 12px #0069D9;
  }
  
  input:checked + .slider:before {
    transform: translateX(27px);
  }
  
  .slider.round {
    border-radius: 20px;
  }
  .slider.round::before {
    border-radius: 20px;
  }
  